################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
bin
obj
/CsvToDatabaseAbstraction/NugetCommand.txt
/CsvToSqlite/NugetCommand.txt
